<%- include('../adminLayout/header.ejs') %>

<section class="content-main mt-5">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">product offers</h2>
        </div>
        <div>
                        
            <a href="addProductOffer" class="btn btn-primary btn-sm rounded">add offer</a>
       
            
           
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
           
            <table class="table table-striped" width="100%">
                <thead>
                    <tr>
                       
                        <th>name</th>
                        <th></th>
                        
                        <td></td>
                        <th></th>
                        <th></th>
                        <th>offer</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tbodyToDelete">
                    
             <% for(let i = 0 ; i < pro.length ; i++) { %>
                    <tr id="offerrow_<%= pro[i]._id %>">
                      
                      
                        <td><%= pro[i].product.pname %></td>
                        <td></td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <td><%= pro[i].productOfferAmt  %></td>
                        <th></th>
                        <th></th>
                        <td></td>
    
                        <td>
                            <a href="editProductOffer?id=<%=  pro[i]._id  %>" class="btn btn-sm " style="background-color: #1199cf; color: #ffffff; border: 1px solid #1199cf;">
                                Edit
                            </a>
                           
                                <button type="submit" class="btn btn-sm btn-danger" onclick="deleteOffer('<%=  pro[i]._id %>')">
                                   Delete
                                </button>
                            
                    </tr>
                    <% } %>
                
                </tbody>
            </table>
        </div>
    </div>            
                 
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script>
                 console.log("nmanjad");
        function deleteOffer(id){
            console.log('inside the funtion');
            console.log("dmns",id);

            axios.delete(`/admin/deleteProOffer/${id}`)
            .then(res => {
                if(res.data.success === true ){
                    const deletedProductOffer = res.data.deletedProductOffer;
                    console.log("deletedProductOffer",deletedProductOffer);
                    $(`#tbodyToDelete tr[id="offerrow_${deletedProductOffer}"]`).remove();
                }

            })
            .catch(error => {
                console.log(error);
            })

        }
            </script>

<%- include('../adminLayout/footer.ejs') %>